<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</Console>
		<File name="commandFile" fileName="logs/commands.log">
			 <PatternLayout pattern="[%-5p] %d : %m%n" />
		</File>
		<File name="err" fileName="logs/errors.log">
			 <PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.crusnikatelier.ildque.BotCommandTextHandler" level="info" additivity="false">
			<AppenderRef ref="commandFile"/>
		</Logger>
		<Root level="warn">
			<AppenderRef ref="err"/>
		</Root>
	</Loggers>
</Configuration>