<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</Console>
		<File name="commandFile" fileName="logs/commands.log">
			 <PatternLayout pattern="[%-5p] %d : %m%n" />
		</File>
		<File name="messageFile" fileName="logs/messages.log">
			 <PatternLayout pattern="%m%n" />
		</File>
		<File name="linuxdebug" fileName="logs/linux.log">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</File>
		<File name="err" fileName="logs/errors.log">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.crusnikatelier.ildque.driver.Program" level="trace">
			<AppenderRef ref="linuxdebug"/>
			<AppenderRef ref="console"/>
		</Logger>
		
		<Logger name="com.crusnikatelier.ildque.driver.Program" level="trace">
			<AppenderRef ref="linuxdebug"/>
			<AppenderRef ref="console"/>
		</Logger>
	
		<Logger name="com.crusnikatelier.ildque.BotCommandTextHandler" level="trace">
			<AppenderRef ref="commandFile"/>
		</Logger>
		
		<Logger name="sx.blah.discord.api.internal.DiscordWS" level="info" />
		<Root level="warn">
			<AppenderRef ref="err"/>
		</Root>
	</Loggers>
</Configuration>