<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!--  Set to debug to see SQL statements executed -->
		<Logger name="org.hibernate.SQL" level="warn"/>
		<!--  Set to trace to see variables binded to SQL statements -->
		<Logger name="org.hibernate.type" level="warn"/>
		<!-- This prevents us from seeing Registry info when looking at type bindings -->
		<Logger name="org.hibernate.type.BasicTypeRegistry" level="warn"/>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>